<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Delete Todo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
  .submit_form{
    text-align: center;
    padding: 3%;
    background: DarkOrange;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                0 6px 20px 0 rgba(0,0,0,0.36);
  }
  </style>
</head>

<body class="container-fluid">

  <center class="row">
    <h1><i>Topshiriqni o'chirish</i></h1>
    <hr />
  </center>

  <div class="row">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      {% if message %}
      <div class="alert alert-danger">
        <strong>Xato!</strong> {{message}}
      </div>
      <center>
        <a href="/" class="btn btn-default">Asosiy sahifaga qaytish</a>
      </center>
      {% endif %}

      {% if todo %}
      <div class="submit_form">
        <form action="/delete/{{todo.id}}/" method="post">{% csrf_token %}
          <h3>{{todo.title}} ni haqiqatdan ham o'chirmoqchimisiz?</h3>
          <br>
          <center>
            <button type="submit" class="btn btn-danger">O'chirish</button>
            <a href="/" class="btn btn-default">Bekor qilish</a>
          </center>
        </form>
      </div>
      {% endif %}
    </div>
    
    <div class="col-md-4"></div>
  </div>

</body>
</html>