<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo</title>
</head>
<body>
    <h1>Topshiriqni o'chirish</h1>
    
    {% if message %}
    <p>{{message}}</p>
    <a href="/">Asosiy sahifaga qaytish</a>
    {% endif %}

    {% if todo %}
    <form action="/delete/{{todo.id}}/" method="post">{% csrf_token %}
        <p>{{todo.title}} ni haqiqatdan ham o'chirmoqchimisiz?</p>
        <button type="submit">O'chirish</button>
        <a href="/"><button type="button">Bekor qilish</button></a>
    </form>
    {% endif %}
</body>
</html>