<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Detail</title>
</head>
<body>
    <h1>Topshiriq tafsilotlari</h1>
    
    {% if message %}
    <p>{{message}}</p>
    <a href="/">Asosiy sahifaga qaytish</a>
    {% endif %}

    {% if todo %}
    <h2>{{ todo.title }}</h2>
    <p><strong>Title:</strong> {{ todo.desc }}</p>
    <p><strong>Status:</strong> {{ todo.get_status_display }}</p>
    <p><strong>Created at:</strong> {{ todo.created_at|date:"d-m-Y H:i" }}</p>
    <a href="/">Orqaga</a>
    {% endif %}
</body>
</html>