<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
</head>
<body>
    <h1>Topshiriqni tahrirlash</h1>
    
    {% if message %}
    <p>{{message}}</p>
    {% endif %}

    {% if todo %}
    <form action="/edit/{{todo.id}}/" method="post">{% csrf_token %}
        <label>Title:</label><br>
        <input type="text" name="title" value="{{todo.title}}" required><br><br>
        
        <label>Desc:</label><br>
        <textarea name="description" required>{{todo.desc}}</textarea><br><br>
        
        <label>Status:</label><br>
        <select name="status" required>
            <option value="new" {% if todo.status == 'new' %}selected{% endif %}>New</option>
            <option value="in_progress" {% if todo.status == 'in_progress' %}selected{% endif %}>In Progress</option>
            <option value="done" {% if todo.status == 'done' %}selected{% endif %}>Done</option>
        </select><br><br>
        
        <button type="submit">Saqlash</button>
        <a href="/"><button type="button">Bekor qilish</button></a>
    </form>
    {% endif %}
</body>
</html>